@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

img{

    width: 15%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
}
.h1splash{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 500%;
    /*background-color: dimgray;*/
}
.h2splash{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 240%;
    /*background-color: dimgray;*/
}
.splash{
    top: 38%;
    position: fixed;
    width: 110%;
    /*width: 100%;*/
    filter: brightness(80%);
    filter: blur(5px);
    left: 49%;
}
body{
    background-color: #878f99;
}
ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
